<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <!--md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button-->

        <h2 flex md-truncate>Create Hyper V Instance</h2>

        <span flex></span>
        <!--md-button class="md-icon-button test-tooltip" aria-label="Dashboard">
            <md-tooltip md-direction="bottom">Dashboard</md-tooltip>
            <md-icon md-svg-src="img/icons/ic_dashboard_white_24px.svg"
                     style="width: 24px; height: 24px">
            </md-icon>
        </md-button-->
        <md-button class="md-icon-button test-tooltip" aria-label="Details">
            <md-tooltip md-direction="left">Details</md-tooltip>
            <a href="#!/dashboard">
                <md-icon md-svg-src="img/icons/ic_dashboard_white_24px.svg"
                         style="width: 24px; height: 24px">
                </md-icon></a>
        </md-button>
    </div>
</md-toolbar>
<md-content layout-padding="30px" layout-margin="30px">
    <form name="projectForm">

        <div layout="row">
            <md-input-container flex="40">
                <label>Select Image</label>
                <md-select name="image" ng-model="image" required>
                    <md-option value={{image.name}} ng-repeat="image in images"> {{ image.name }}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div>
            <md-button class="md-primary md-raised" ng-click="createserver()">Submit</md-button>
        </div>
        <div ng-show="updation" align="center">
            <!--img src="../img/spinner.gif" height="50" width="50" /-->
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div ng-show="updationmsg" align="center">
            <span>Instance Created Successfully</span>
        </div>
    </form>
</md-content>