<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <!--md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button-->

        <h2 flex md-truncate>Hyper-V Lab Instances</h2>

        <span flex></span>
        <!--md-button class="md-icon-button test-tooltip" aria-label="Dashboard">
            <md-tooltip md-direction="bottom">Dashboard</md-tooltip>
            <md-icon md-svg-src="img/icons/ic_dashboard_white_24px.svg"
                     style="width: 24px; height: 24px">
            </md-icon>
        </md-button-->
        <md-button class="md-icon-button test-tooltip" aria-label="Details">
            <md-tooltip md-direction="left">Details</md-tooltip>
            <a href="#!/cHyperVserver">
                <md-icon md-svg-src="img/icons/ic_open_in_new_white_24px.svg"
                         style="width: 24px; height: 24px">
                </md-icon></a>
        </md-button>
    </div>
</md-toolbar>
<md-content layout-margin="10px" layout-padding="10px">
    <div ng-show="loading">
        <!--img src="../img/spinner.gif" height="50" width="50" /-->
        <md-progress-circular md-mode="determinate"></md-progress-circular>
    </div>
    <div class="container" ng-show="!loading">
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true" >
        </dir-pagination-controls>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th><a href="" ng-click="order('Name')">Name</a></th>
                <th><a href="" ng-click="order('CPUUsage')">CPUUsage</a></th>
                <!--th><a href="" ng-click="order('AvailabilityZone')">Availability Zone</a></th-->
                <th><a href="" ng-click="order('State')">State</a></th>
                <th><a href="" ng-click="order('Memory')">Memory</a></th>
                <th><a href="" ng-click="order('Status')">Status</a></th>
                <th><a href="" ng-click="order('Version')">Version</a></th>
                <!--<th><a href="" ng-click="order('Uuid')">CPU Usage %</a></th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td><input type="text" ng-model="search.Name" /></td>
                <td><input type="text" ng-model="search.CPUUsage" /></td>
                <!--td><input type="text" ng-model="search.AvailabilityZone" /></td-->
                <td><input type="text" ng-model="search.State" /></td>
                <td><input type="text" ng-model="search.Memory" /></td>
                <td><input type="text" ng-model="search.Status" /></td>
                <td><input type="text" ng-model="search.Version" /></td>
                <!--<td><input type="text" ng-model="search._" /></td>-->
            </tr>
            <!--tr dir-paginate="ec2 in ec2s | orderBy:predicate:reverse | filter:search |itemsPerPage:50"-->
            <tr dir-paginate="hypr in filteredosc = (hyprvs | filter:search | orderBy:predicate:reverse) |itemsPerPage:15">
                <td><input type="checkbox" ng-model="label.selected" ng-change="isLabelChecked()"></td>
                <td>{{hypr.Name}}</a></td>
                <td>{{hypr.CPUUsage}}</td>
                <!--td>{{osc.AvailabilityZone}}</td-->
                <td>{{hypr.State}}</td>
                <td>{{hypr.Memory}}</td>
                <td>{{hypr.Status}}</td>
                <td>{{hypr.Version}}</td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true" >
        </dir-pagination-controls>

</md-content>